<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mdv.appstore.mapper.CategoryMapper">
    <resultMap id="selectCategoryResultMap" type="CategoryDTO">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="isDeleted" column="is_deleted" />
    </resultMap>
    <select id="findAll" resultMap="selectCategoryResultMap"> SELECT id, name, is_deleted FROM
        category </select>

    <select id="findAllActive"> SELECT id, name FROM category WHERE is_deleted = 0 </select>

    <insert id="insert"> INSERT INTO category (name) VALUES (#{category.name}) </insert>

    <update id="update"> UPDATE category SET name = #{category.name} WHERE id = #{id} </update>

    <update id="softDelete"> UPDATE category SET is_deleted = 1 WHERE id = #{id} </update>

    <select id="findById" resultMap="selectCategoryResultMap"> SELECT id, name, is_deleted FROM
        category WHERE id = #{id} </select>

    <select id="existsByName"> SELECT COUNT(*) FROM category WHERE name = #{name} </select>

    <update id="restore"> UPDATE category SET is_deleted = 0 WHERE id = #{id} </update>
</mapper>